<!-- must be supplied with video model with URL (for mp4, webm and ogg versions) and name attrs, and poster association -->

<video width="640" height="360" controls="">
	<source src="<%= video.mp4.url %>" type="video/mp4">
	<source src="<%= video.webm.url %>" type="video/webm">
	<source src="<%= video.ogg.url %>" type="video/ogg">
	<img src="<%= video.poster %>" width="640" height="360" alt="<%= video.name %>" title="No video playback capabilities, please download">
</video>